<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
</head>
<body>
    <!-- form to create new ninja -->
    <!-- done -->
    <h1>New Ninja</h1>
    <form action="/create_ninja" method="POST">
        <label for="">Dojo:</label>
        <!-- provides a drop down menu of current dojos -->
        <select name="dojo_id" id="">
            {% for dojo in all_dojos %}
            <option value="{{ dojo.id }}">{{ dojo.name }}</option>
            {% endfor %}
        </select><br>
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name"><br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name"><br>
        <label for="age">Age:</label>
        <input type="text" name="age"><br>
        <input type="submit" value="Create Ninja">
    </form>

    <!-- links back to dojos page -->
    <!-- done -->
    <a href="/dojos">Home</a>
</body>
</html>